body{
   background-color: f6f6f6;
   font-family: 'Lato', sans-serif;
}
.background{
   background-image: url(../img/06.png);
   width: 1170px;
   height: 730px;
   margin-left: auto;
   margin-right: auto;
}
.title{
   font-family: 'Lato', sans-serif;
   padding-top: 100px;
   font-size: 34px;
   font-weight: 700;
   text-align: center;
   letter-spacing: 5px;
   color: #3c3c3c;
}
hr{
   width: 45px;
   border-radius: 20px;
   border: 3px solid #dddbdb;
   background-color: #dddbdb;
}
.subtitle{
   margin-top: 70px;
   margin-bottom: 60px;
   font-size: 17px;
   font-weight: 300;
   text-align: center;
   width: 570px;
   margin-left: auto;
   margin-right: auto;
}

.grid{
   display: grid;
   grid-template-columns: 271px 271px 271px 271px;
   grid-row: 271px;
   gap: 29px;
}

.photo{
   width: 270px;
   height: 270px;
   border-radius: 10px;
}
.social{
   position: absolute;
   top: 13px;
   left: 12px;
}

.photo a{
   display: none;
}

.photo:hover{
   background-image: none;
   background-color: #18b5dc;
   opacity: 0.9;
}
.photo:hover a{
   display: inline-block;
   width: 43px;
   height: 43px;
   border-radius: 10px;
   background-color: #5ecbe7;
   position: relative;
   top: 110px;
   left: 65px;
}
.photo a:hover{
   background-color: rgb(27, 19, 148);
   transition: all 0.4 linear;
   transform: scale(1.1, 1.1);
   opacity: 0.2;
}

.capture div:first-child{
   margin-top: 20px;
   font-size: 18px;
   font-weight: 900;
   color: #282528
}
.capture div:last-child{
   font-size:15px ;
   font-weight: 400;
   color: #646464;
}
.img1{
   background-image: url(../img/4-1.png);
}
.img2{
   background-image: url(../img/01\ \(3\).png);
}
.img3{
   background-image: url(../img/02\ \(3\).png);
}
.img4{
   background-image: url(../img/03\(3\).png);
}

